{% include 'base.html' %}
{% load core_extras %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Circulo - Itens Pendentes</title>
</head>
<body>
{% block content %}
{% endblock %}

<div class="container-fluid">
<table class="table table-bordered">
<thead>
    <tr>
      <th scope="col">Codigo Interno</th>
      <th scope="col">ISBN</th>
      <th scope="col">Título</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Valor Total</th>
      <th scope="col">Pedido Marketplace</th>
      <th scope="col">Plataforma</th>
      <th scope="col">Estoque Circulo</th>
      <th scope="col">Estoque Catavento</th>
    </tr>
  </thead>
<tbody>
{% for ped in peds %}
<tr>


   {% with a=ped.nped|get_nbook|checar_estoque b=ped.nped|get_nbook|checar_catavento %}
    {% if a == 0 and b == 0%}

    <td style="background-color: red">{{ ped.nped | get_nbook }}</td>
<td style="background-color: red">{{ ped.nped | get_nbook | get_isbn }}</td>
<td style="background-color: red">{{ ped.nped | get_nbook | get_titulo }}</td>
<td style="background-color: red">{{ ped.nped | get_qtd }}</td>
<td style="background-color: red">R$ {{ ped.vlped | roundcash}}</td>
<td style="background-color: red">{{ ped.nped | get_pedmktplace }}</td>
<td style="background-color: red">{{ ped.nped | plataforma }}</td>
<td style="background-color: red">{{ ped.nped | get_nbook | checar_estoque }}</td>
<td style="background-color: red">{{ ped.nped | get_nbook | checar_catavento }}</td>

    {% else %}
<td>{{ ped.nped | get_nbook }}</td>
<td>{{ ped.nped | get_nbook | get_isbn }}</td>
<td>{{ ped.nped | get_nbook | get_titulo }}</td>
<td>{{ ped.nped | get_qtd }}</td>
<td>R$ {{ ped.vlped | roundcash}}</td>
<td>{{ ped.nped | get_pedmktplace }}</td>
<td>{{ ped.nped | plataforma }}</td>
<td>{{ ped.nped | get_nbook | checar_estoque }}</td>
<td>{{ ped.nped | get_nbook | checar_catavento }}</td>
    {% endif %}
    {% endwith %}
</tr>
{% endfor %}
</tbody>
</table>
    <br><p><a href="{% url 'lista' %}">Gerar lista</a></p>
    </div>
</body>
</html>