body {
    background-color: #342a82;
    color: whitesmoke;
    font-family: Calibri;
}
div {
    background-color: #342a82;
    color: whitesmoke;
    font-family: Calibri;
}
table, td, th {
    color: whitesmoke;
    font-family: Calibri;
}

.alert_td {
    background-color: red;
}